<div class="container_contacto">

    <h1>Contacto</h1>

    <div id="texto" #textos>
        <p appResaltado>
            Esta es la pagina de contacto, puedes enviarnos cualquier duda
        </p>
    </div>

    <!--
    <input type="number" [(ngModel)]="widthSlider">
    
    <br>
    <button (click)="cargarSlider()">Cargar slider</button>
    <button (click)="resetearSlider()">Resetear slider</button>

    <div *ngIf="anchuraToSlider">
        <app-slider [anchura]="anchuraToSlider"
                    [etiquetas]="captions" 
                    (conseguirAutor)="getAutor($event)"
        ></app-slider>
    </div>

    <div *ngIf="autor">
        {{ autor.nombre + " " + autor.webSide }}
    </div>
    -->
</div>