<div id="title">
    <h1>{{ title }}</h1>
    <h2> {{ subtitle }}</h2>
    <p> {{ email }}</p>
</div>

<article class="about">
    <h2>Sobre Mí</h2>
    <p>
        ¡Hola! mi nombre es Francisco Virbes, tengo 21 años de edad, soy estudiante de la carrera 
        Ingenieria en Sistemas Computacionales en el "Instituto Tecnologico de Comitán", actualmente
        curso el Septimo semestre de la carrera, estoy muy emocionado por ya casi concluir con mis 
        estudios, pero a la vez estoy muy triste <span>:'(</span>
        <br><br>
        <span id="fuerza">Necesito mucha fuerza para reclamar lo que realmente quiero</span>
    </p>
</article>