Slider: <strong>{{ anchura }}</strong>, Captions: <strong>{{ captions }}</strong>

<div class="galeria">
    <!-- <div><img src="../../../assets/img/images_slider/br.jpg"></div> -->
    <div><img src="../../../assets/img/images_slider/diana.jpg" title="Guadalajara Jalisco"></div>
    <!-- <div><img src="../../../assets/img/images_slider/diana2.jpg"></div>
    <div><img src="../../../assets/img/images_slider/palas.jpeg"></div>
    <div><img src="../../../assets/img/images_slider/scarlet.jpg"></div>
    <div><img src="../../../assets/img/images_slider/scarlet3.jpg"></div> -->
    <!-- <div><img src="../../../assets/img/images_slider/yur.jpg"></div> -->
</div>

<button (click)="lanzar($event)">Conseguir Autor</button>